body{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.7) ,rgba(254, 163, 1, 0.4));    
    /* padding: 60px 0px 60px 0px; */
    /* margin: 0 186px; */
    max-width: 100%;
    /* background-image: url(../assets/bg.png); */
    /* background-repeat:repeat-y; */
    /* background-size: cover; */
}
.head{
    /* margin: 0 186px; */
    margin: 0px 152px;
}
.mainn{
    background: url(../assets/bg.png);
    /* margin: 0 186px; */
    margin: 0px 152px;
}
.orange{
    color: orange;
}
.sky-blue{
    color: skyblue;
}
.light-blue{
    color: #05D4DF;
}
.purple{
    color: #5D58EF;
}
.white{
    color: white;
}
.display-flex{
    display: flex;
}
.head{
    /* background-color: #5dde41; */
    /* max-width: 1160px; */
    justify-content: space-between;
    align-items: center;
    /* margin: 0 186px; */
    padding: 30px 0px;
}
.navbar{
    align-items: center;
    margin-left: 150px;
}
.logo{
    flex-direction: row;
    align-items: center;
}
.logo h3{
    font-size: 2rem;
    font-weight: bold;
    width: auto;
    padding: 0px 10px;
}
.logo img{
    width: 4rem;
    height: 4rem;
}
.nav-link a{
    font-size: 1.4rem;
    text-decoration: none;
    margin-right: 2rem;
    font-weight: bold;
}
.nav-link a:hover{
    font-size: 1.5rem;
    font-weight: bolder;
}
.contact-btn{
    width: 197px;
    height: 50px;
    padding: 10px 10px;
    background-color: orange;
    font-weight: 500px;
    font-size: 20px;
    border-radius: 10px;
    /* margin-left: 60px; */
}
.contact-btn:hover {
    background-color: rgb(187, 105, 5); 
    cursor: pointer; 
    font-weight: 10000px;
}
.hamburger img{
    display: none;
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
@media screen and (max-width:576px) {
    .head{
        margin: 0px auto;
    }
    .mainn{
        margin: 0px auto;
    }
    .logo img{
        width: 2.8rem;
        height: 2.8rem;
    }
    .logo h3, .nav-link a, .contact-btn{
        display: none;
    }
    
    .hamburger img{
        display: block;
        height: 1.8rem;
        width: 1.8rem;
    }
    .line{
    width: 100%;
    height: 1px;
    background-color: rgb(243, 231, 209); 
    margin-top: 10px;
    }
}
/* marquee  */
marquee h3{
    color: red;
}

/* banner part */
.banner{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.banner img{
    height: 32rem;
    width: 28rem;
}
.banner img:hover{
    height: 33rem;
    width: 29rem;
}
.banner-left{
    flex-direction: column;
    align-items:flex-start;
    width: 30rem;
    /* height: 20.6rem; */
}
.banner-left h2{
    font-size: 3.4rem;
    font-weight: 24.5rem;
}
.banner-left p{
    width: 30rem;
}
.banner-left button{
    margin-top: 20px;
    height: 3rem;
    width: 12rem;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: black;
    font-size: 18px;
    padding: 10px 10px;
    font-weight: bold;
}
.banner-left button:hover{
    background-color: rgb(31, 109, 133); 
    cursor: pointer; 
    font-weight: 10000px;
}
@media screen and (max-width: 576px){
    .banner{
        flex-direction: column-reverse;
        /* justify-content: center; */
        align-items: center;
    }
    .banner-left{
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: auto;
        /* margin-left: 20px;
        margin-right: 20px; */
    }
    .banner-left p, h2{
        width: auto;
        text-align: center;
    }
    .banner img{
        height: 26px;
        width: 21rem;
    }
    .banner img:hover{
        height: 26px;
        width: 21rem;
    }
}

/* standard curriculum */
.standard-curriculum{
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}
.standard-curriculum h3{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 60px;
}
.card-container{
    flex-direction: row;
    justify-content: space-between;
    gap: 50px
}
.card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 476px;
    border-radius: 10px;
    border: 0.94px solid rgb(222, 245, 255);
    background: linear-gradient(180.00deg, rgb(214, 238, 247),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card:hover{
    border: 3px solid rgb(222, 245, 255);
    background: linear-gradient(180.00deg, rgb(130, 208, 218),rgba(255, 255, 255, 0) 90%),rgb(255, 255, 255);
}
.card img{
    width: 130.7px;
    height: 111.94px;
}
.card h4{
    font-weight: bold;
    font-size: 24px;
}
.card p{
    text-align: center;
    height: 74px;
    width: 250px;
}
.card button{
    font-size: 14px;
    font-weight:normal;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    margin-top: 20px;
}
.card button:hover{
    background-color: rgb(56, 93, 103); 
    cursor: pointer; 
    font-weight: 10000px;
    font-size: 16px;
    width: 115px;
    height: 36px;
    color: white;
}
.card0{
    border: 0.94px solid rgb(255, 244, 220);
    background: linear-gradient(180.00deg, rgb(250, 226, 162),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card0:hover{
    border: 3px solid rgb(222, 245, 255);
    background: linear-gradient(180.00deg, rgb(236, 192, 80),rgba(255, 255, 255, 0) 90%),rgb(255, 255, 255);
}
.card0 button:hover{
    background-color: rgb(103, 88, 56); 
    cursor: pointer; 
    font-weight: 10000px;
    font-size: 16px;
    width: 115px;
    height: 36px;
    color: white;
}
.card1{
    border: 0.94px solid rgb(242, 232, 255);
    background: linear-gradient(180.00deg, rgb(235, 221, 252),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card1:hover{
    border: 3px solid rgb(222, 245, 255);
    background: linear-gradient(180.00deg, rgb(216, 170, 251),rgba(255, 255, 255, 0) 90%),rgb(255, 255, 255);
}
.card1 button:hover{
    background-color: rgb(83, 56, 103); 
    cursor: pointer; 
    font-weight: 10000px;
    font-size: 16px;
    width: 115px;
    height: 36px;
    color: white;
}
.arrow{
    margin-top: 30px;
    gap: 20px;
}
.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 36px; /* Adjust size as needed */
    height: 36px;
    border-radius: 50%;
    background-color: orange;
}
.icon {
    color: white;
    font-size: 24px; 
    font-weight:bolder;
  }
@media screen and (max-width:576px){
    .card-container{
        flex-direction: column;
        justify-content: space-between;
        gap: 50px
    }
}
.our-stories{
    margin-top: 30px;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background: url(../assets/bg.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(254, 163, 1, 0.3));    padding: 60px 0px 60px 0px; */
}
.our-stories h3{
    font-weight: bold;
    font-size: 46px;
}
.stories{
    flex-direction: row;
    justify-content: space-between;
    width: 1120px;
    /* height: 630px; */
    padding: 0px 0px 0px 0px;
}
.story{
    margin-left: 0px;
    background-color: white;
    flex-direction: column;
    height: 630px;
    width: 500px;
    border-radius: 0px 0px 16px 16px;
}
.story img{
    height: 337px;
    width: 500px;
    border-radius: 16px 16px 0px 0px;
}
.story h5{
    /* position: absolute;
    top: 1950px;
    left: 175px; */
    position: relative;
    top: -42px;
    margin-left: 20px;
    background-color: #3CD8E8;
    height: 35px;
    width: 150px;
    border-radius: 20px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}
.story h3{
    position: relative;
    top: -40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
}
.story p{
    position: relative;
    top: -40px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 28px;
    font-size: 15px;
}

.story-right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 10px;
    column-gap: 10px;
    height: 630px;
    width: 35.6rem;
    margin-right: 1.25rem;
    border-radius: 0px 0px 16px 16px;
}
.story1{
    background-color: white;
    flex-direction: column;
    height: 309px;
    width: 16.8rem;
    border-radius: 0px 0px 16px 16px;
}
.story1 img{
    height: 177px;
    width: 16.8rem;
    border-radius: 16px 16px 0px 0px;
}
.story1 h5{
    position: relative;
    top: -30px;
    left: 10px;
    background-color: #5dde41;
    margin-left: 10px;
    height: 25px;
    width: 6.25rem;
    border-radius: 20px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

.story1 h3{
    position: relative;
    top: -20px;
    margin-left: 20px;
    font-size: 12px;
}
.our-stories button{
    background-color: black;
    width: 12.3rem;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 70px;
    border-radius: 10px;
}
.our-stories button:hover{
    background-color: rgb(7, 56, 65); 
    cursor: pointer; 
    font-weight: bolder;
    font-size: 20px;
    width: 13rem;
    height: 55px;
    color: white;
}
@media screen and (max-width:576px) {
    .story {
        display: none;
    }
    .stories{
        flex-direction: column;
        width: 100%;
    }
    .story-right{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        height: auto;
        row-gap: 20px;
        /* column-gap: 5px; */
        /* margin-left: -33px; */
    }
    .story1{
        margin: auto;
        height: 14rem;
        width: 10rem;
    }
    .story1 img{
        height: 7rem;
        width: 10rem;
    }
    .story h5{
        padding: 0px 5px;
        height: auto;
    }

    .our-stories button{
        margin: auto;
        width: 8rem;
        height: 40px;
        font-size: 16px;
        margin-top: 20px;
    }
    
}
footer{
    flex-direction: row;
    margin-top: 60px;
    background-color: #01ACFD;
    width: 100%;
    /* width: 1510px; */
    /* height: 519px; */
    gap:30px;
}
.footer-left{

    margin-left: 150px;
    margin-top: 50px;
    flex-direction: column;
    /* justify-content: left; */
    align-items: flex-start;
    width: 400px; 
    height: 200px;
}
.footer-left-des{

    width: 230px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
.footer-left-des img{
    width: 80px;
    height: 80px;
}
.footer-left-des h5{
    /* width: 206.11px; */
    /* height: 80px; */
    font-size: 32px;
    font-weight: 700;
}
.footer-left p{
    width: auto;
    height: 100px;

}
.footer-mid{

    flex-direction: column;
    margin-left: 190px;
    margin-top: 80px;
    width: 400px; 
    /* height: 200px; */
}
.footer-mid h3{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
}
.footer-mid h5{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
}
.footer-right{

    margin-top: 150px;
    width: 400px; 
    height: 200px;
}
.footer-right h4{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
}
@media screen and (max-width:576px) {
    footer{
        flex-direction: column;
        width: auto;
        height: 100%;
    }
    .footer-left {
        margin-top: 20px;
        margin-left: 50px;
        /* margin-bottom: 50px; */
        width: auto;
    }
    .footer-mid{
        margin-top: 80px;
        margin-left: 50px;
        width: auto;
    }
    .footer-right{
        margin-top: 0px;
        margin-left: 50px;
        width: auto;
    }
    .footer-left p{
        width: 280px;
        height: auto;
        margin-left: 5px;
        /* margin-right: auto; */
    }
    /* .footer-mid{
        margin-left: 50px;
    }
    .footer-right{
        margin-left: 50px;
    } */
}
